@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .link-title::before {
    @apply absolute content-[""] w-0 h-[2px] bottom-0 bg-white transition-all;
  }
  [data-active="true"]::before {
    @apply !w-full !bg-red-500;
  }
  [data-active="true"] {
    @apply !text-red-500;
  }
  .form-input {
    @apply focus:outline-0 px-[20px] py-[12px] placeholder:text-[hsla(0,0%,100%,.4)] rounded-md bg-transparent border-2 border-[hsla(0,0%,100%,.2)] my-2;
  }
  .content-list-title::before {
    @apply absolute content-[""] w-[30px] h-[2px] bottom-0 bg-white transition-all;
  }
  @media (max-width: 768px) {
    .nav-menu {
      @apply transition-all duration-700 px-[20px] py-[56px] w-[80vw] max-w-[350px] h-[100vh] fixed right-[-85vw] top-0 bg-[#101010] flex flex-col;
    }
  }
}

.skills > span {
  animation: spin-words 6s infinite;
}

@keyframes spin-words {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(-0%);
  }
  60% {
    transform: translateY(-110%);
  }
  80% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
