@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.skills > span {
  animation: spin-words 6s infinite;
}

@keyframes spin-words {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(-0%);
  }
  60% {
    transform: translateY(-110%);
  }
  80% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
